<div style="margin-top: 10px;">
    <p-breadcrumb class="max-w-full" [model]="breadCrumbItems" [home]="homePage"></p-breadcrumb>
</div>

<div *ngIf="isPageLoading" style="margin-left: auto; margin-right: auto; margin-top: 10%;">
    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
</div>

<div fxLayout="row" fxLayoutGap="16px" style="margin-top: 50px;" *ngIf="this.productDetails!=null && isPageLoading==false">
    <div fxFlex="40%">
        <div class="column-content">
            <div class="card">
                <div  [attr.data-id]="this.productDetails.id" [ngClass]="{ 'border-top-1 surface-border': '10px' }">
                    <p-carousel [value]="this.productImageDetails.skus" [circular]="true" [numVisible]="1" [numScroll]="1" [autoplayInterval]="5000" [showNavigators]="false">
                        <ng-template let-product pTemplate="item">
                            <div class="border-1 surface-border border-round m-2 text-center py-5 px-3" [attr.data-id]="product.productId">
                                <div class="mb-3">
                                    <img src="{{product.mediaUrl}}" width="300px" height= "300px" [alt]="product.name" class="w-6 shadow-2" />
                                </div>
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>
                <p-divider layout="horizontal" class="p-element surface-border"></p-divider>
                <div>
                    <h5 style="font-family: var(--font-family);">No product specifications available !</h5>
                </div>
            </div>
        </div>
    </div>
    <div fxFlex="60%">
        <div class="column-content" style="text-align: left !important;">
            <div class="card">
                <div  [attr.data-id]="productDetails.id" [ngClass]="{ 'border-top-1 surface-border': '10px'}">
                    <h3 class="text-2xl font-bold" >{{productDetails.name}}</h3>
                    
                    <div>
                        <span >{{productDetails.shortDescription}}</span>
                    </div>
                    <p-tag severity="info" [style]="{'margin-top': '10px'}">
                        <span class="flex align-items-center gap-2">
                            {{ productDetails.brand }}
                        </span>
                    </p-tag>
                    <div class="amcart-pdp-price-container">
                        <div style="margin-top: 20px;">
                            <strong><span >{{ '₹' + productDetails.salePrice }}</span></strong>
                            <span style="margin-left: 10px;margin-right: 2px;">MRP</span>
                            <s><span>{{'₹' + productDetails.originalPrice }}</span></s>
                        </div>
                        <strong><span style="color: green;margin-top: 20px;">{{productDetails.discountPercentage + '% Discount'}}</span></strong>
                    </div>
                    <div class="amcart-pdp-sku-container">
                        <h4>Select Size</h4>
                        <div id="skuItem"  *ngFor="let skuItem of productDetails.skus; let first = first" style="display: inline-flex;">
                            <div class="border-1 surface-border border-round m-2 text-center py-5 px-3" [attr.data-id]="skuItem.name">
                                <div class="mb-3" style="margin-right: 10px;">
                                    <p-button [attr.data-id]="productDetails.id" [attr.data-skuId]="skuItem.name" label={{skuItem.size}}   [style]="{'margin-right': '1%','margin-bottom': '5%'}" 
                                     [outlined]="true" severity="info" (onClick)="selectSkuEvent($event)"> </p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p-divider layout="horizontal" class="p-element surface-border"></p-divider>
                    <div *ngIf="productDetails.inventoryStatus=='LOW_STOCK'">
                        <p-tag severity="warning" [style]="{'margin-bottom': '10px'}">
                            <span class="flex align-items-center gap-2">
                                Low Stock
                            </span>
                        </p-tag>
                    </div>
                    <div *ngIf="productDetails.inventoryStatus=='OUT_OF_STOCK'">
                        <p-tag severity="danger" [style]="{'margin-bottom': '10px'}">
                            <span class="flex align-items-center gap-2">
                                Out Of Stock
                            </span>
                        </p-tag>
                    </div>
                    <div *ngIf="productDetails.inventoryStatus=='IN_STOCK'">
                        <p-tag severity="success" [style]="{'margin-bottom': '10px'}">
                            <span class="flex align-items-center gap-2">
                               In Stock
                            </span>
                        </p-tag>
                    </div>
                    <div class="mt-5 flex align-items-center justify-content-center gap-2">
                        <p-button label="Add To Cart"  (onClick)="this.commonService.addToCart($event)"  [style]="{'margin-right': '1%','margin-bottom': '1%'}" 
                        icon="pi pi-shopping-cart" [outlined]="true" 
                        [severity]="this.commonService.getSeverity(productDetails.inventoryStatus?productDetails.inventoryStatus:'')"
                        [disabled]="this.commonService.isDisabled(productDetails.inventoryStatus?productDetails.inventoryStatus:'')"> </p-button>
                        <p-button label="Add To Wishlist"   [style]="{'margin-right': '1%','margin-bottom': '1%'}" 
                        icon="pi pi-heart" [outlined]="true" severity="primary"> </p-button>
                    </div>
                    <p-divider layout="horizontal" class="p-element surface-border"></p-divider>
                    <div>
                        <h5 style="font-family: var(--font-family);">No addtional product info available !</h5>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<p-divider layout="horizontal" class="p-element surface-border"></p-divider>
<div *ngIf="isPageLoading==false" class="card">
    <h3 style="text-align: center;font-family: var(--font-family);">Customers who viewed this items also viewed below items</h3>
    <p-carousel [value]="this.customerWhoViewedAlsoViewedproductList" [numVisible]="4" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions" [autoplayInterval]="5000">
        <ng-template let-product pTemplate="item">
            <div class="border-1 surface-border border-round m-2 text-center py-5 px-3" [attr.data-id]="product.productId" [attr.data-sku-id]="product.skuId" (click)="caroselProductClick($event)">
                <div class="mb-3">
                    <img src="{{product.skuMediaUrl}}" width="300px" height= "300px" [alt]="product.name" class="w-6 shadow-2" />
                </div>
                <div>
                    <h5 class="mb-1">{{ product.name }}</h5>
                    <div class="mt-0 mb-3" style="margin-top: 20px;margin-bottom: 20px;">
                        <strong><span >{{ '₹' + product.price }}</span></strong>
                        <s><span style="margin-left: 10px;">{{'₹' + product.originalPrice }}</span></s>
                    </div>
                </div>
            </div>
            <div class="mt-5 flex align-items-center justify-content-center gap-2">
                <p-button label="Add To Cart"   (onClick)="this.commonService.addToCart($event)" [style]="{'margin-right': '1%','margin-bottom': '3px'}"
                icon="pi pi-shopping-cart" [outlined]="true" severity="info"> </p-button>
            </div>
        </ng-template>
    </p-carousel>
</div>