  <div fxLayout="row" fxLayoutGap="16px" style="margin-top: 30px;">
    <div fxFlex="20%">
        <div class="card flex justify-content-center">
            <span id="productSortingOptionsLabel" style="text-size-adjust: 50px;">Sort By: </span>
            <p-dropdown [options]="this.productSortingOptions" [(ngModel)]="this.selectedSortByOption" optionLabel="displayName"
            [showClear]="false" placeholder="Select a SortBy" (onChange)="productSortByChange($event)"></p-dropdown>
            <p-divider layout="horizontal" class="p-element surface-border"></p-divider>
            <span id="productSortingOptionsLabel" style="text-size-adjust: 50px;">Filter Options </span>
        </div>
    </div>
    <div fxFlex="80%">
        <div class="column-content">
            <p-dataView #dv [value]="productList" >
                <ng-template pTemplate="empty">
                    <div class="empty-message">
                        <h1 class="m-0" style="margin-top: 10%;text-align: left; margin-left: 20%;">
                            No data available !!!
                        </h1>
                    </div>
                  </ng-template>
                <ng-template pTemplate="listItem" let-products>
                    <div class="grid grid-nogutter" style="display: block;">
                        <div class="card" *ngFor="let item of productList; let first = first" style="display: inline-flex;" >
                            <div   [ngClass]="{ 'border-top-1 surface-border': !first }" >
                                <div id="productItem" [attr.data-id]="item.productId" [attr.data-sku-id]="item.skuId" (click)="productClick($event)">
                                    <div class="text-2xl font-bold" style="margin-bottom: 5px" >{{item.name}}</div>
                                    <img [src]="item.skuMediaUrl" width="300px" height= "300px" [alt]="item.name" class="w-6 shadow-2" style="margin-left: auto;margin-bottom: 5px;"/>
                                    <p-tag severity="info">
                                        <span class="flex align-items-center gap-2">
                                            {{ item.brand }}
                                        </span>
                                    </p-tag>
                                    <div style="height: 30px;margin-top: 10px;">
                                        <span >{{item.shortDescription}}</span>
                                    </div>
                                    <div>
                                        <div class="mt-0 mb-3" style="margin-top: 20px;margin-bottom: 10px;">
                                            <strong><span >{{ '₹' + item.price }}</span></strong>
                                            <s><span style="margin-left: 10px;">{{'₹' + item.originalPrice }}</span></s>
                                        </div>
                                    </div>
                                </div>
                                <p-divider layout="horizontal" class="p-element surface-border"></p-divider>
                                <div *ngIf="item.inventoryStatus=='LOW_STOCK'">
                                    <p-tag severity="warning" [style]="{'margin-bottom': '10px'}">
                                        <span class="flex align-items-center gap-2">
                                            Low Stock
                                        </span>
                                    </p-tag>
                                </div>
                                <div *ngIf="item.inventoryStatus=='OUT_OF_STOCK'">
                                    <p-tag severity="danger" [style]="{'margin-bottom': '10px'}">
                                        <span class="flex align-items-center gap-2">
                                            Out Of Stock
                                        </span>
                                    </p-tag>
                                </div>
                                <div *ngIf="item.inventoryStatus=='IN_STOCK'">
                                    <p-tag severity="success" [style]="{'margin-bottom': '10px'}">
                                        <span class="flex align-items-center gap-2">
                                           In Stock
                                        </span>
                                    </p-tag>
                                </div>
                                <div class="mt-5 flex align-items-center justify-content-center gap-2">
                                    <p-button label="Add To Cart"  (onClick)="this.commonService.addToCart($event)"  [style]="{'margin-right': '1%','margin-bottom': '3px'}" 
                                    icon="pi pi-shopping-cart" [outlined]="true" 
                                    [severity]="this.commonService.getSeverity(item.inventoryStatus?item.inventoryStatus:'')"
                                    [disabled]="this.commonService.isDisabled(item.inventoryStatus?item.inventoryStatus:'')"> </p-button>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>
</div>