<main class="main">
  <div class="top-bar-content">
    <app-top-bar></app-top-bar>
  </div>
  <div class="body-content">
    <p>Actual Content</p>
    <p>Actual Content</p>
    <p>Actual Content</p>
    <app-products-listing></app-products-listing>

  </div>
  <div class="bottom-bar-content">
    <app-footer-bar></app-footer-bar>
  </div> 
</main>
<!--<footer>
  <md-toolbar class="md-hue-2 md-scroll-shrink">
    <div layout="row" layout-align="center center" flex>
      Powered by Webocity Technologies
    </div>
  </md-toolbar>
</footer>-->

<router-outlet></router-outlet>
