<main class="main">
  <div class="top-bar-content">
    <app-top-bar></app-top-bar>
  </div>
  <div class="body-content">
    <!-- <p>Actual Page Content will come here !!!</p>
    <p>Actual Page Content will come here !!!</p>
    <p>Actual Page Content will come here !!!</p>
    
    <img src="./assets/amcart-high-resolution-logo.ico"/> -->
    <!-- <app-products-listing></app-products-listing> -->
    <router-outlet></router-outlet>
  </div>
  <div class="bottom-bar-content">
    <app-footer-bar></app-footer-bar>
  </div> 
</main>


