<!--<p-toolbar styleClass="bg-gray-300 shadow-2" [style]="{ '!important padding': '10px' , 
'border-radius': '0.3rem', 'background-image': 'linear-gradient(to right, var(--surface-400), var(--surface-400))' }">
    
<div class="p-toolbar-group-start">
        <p (click)=onClickAboutUs()>About Us</p>
    </div>
    <div class="p-toolbar-group-start">
        <p>Contact Us</p>
    </div>
    <div class="p-toolbar-group-start">
        <p (click)=onClickCareers()> Careers</p>
    </div>
    <div class="p-toolbar-group-start">
        <p>Press Release</p>
    </div>
</p-toolbar> -->
<div class="card" >
    <p-menubar [model]="this.footerMenuItems" [style]="{'border-radius': '0.3rem', 'background-image': 'linear-gradient(to right, var(--gray-300), var(--gray-300))'}">
        
    </p-menubar>
</div>