<!--<mat-grid-list cols="1" rowHeight="15:1">
    <mat-grid-tile>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        <mat-form-field class="top-bar-category-select-box" appearance="outline" color="accent">
            <mat-label>Select Category</mat-label>
            <mat-select>
                <mat-option value="option">Option</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field  class="top-bar-search-box" appearance="outline" color="accent">
            <input type="search" matInput placeholder="Search in AmCart.com" (keyup)="onKey($event)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        
        <div class="top-bar-login-button" >
            <mat-icon aria-hidden="false" aria-label="Login icon" fontIcon="supervised_user_circle"></mat-icon>
            <button color="primary" mat-button [matMenuTriggerFor]="menu">Login</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Login</button>
                <button mat-menu-item>Register</button>
            </mat-menu>
        </div>
        <div class="top-bar-cart-button" >
            <mat-icon aria-hidden="false" aria-label="Cart icon" fontIcon="shopping_cart"></mat-icon>
            <button mat-stroked-button color="primary">Cart</button>
        </div>
    </mat-grid-tile>
  </mat-grid-list>-->
  <p-toolbar styleClass="bg-gray-300 shadow-2" [style]="{ 'padding-left': '3%' , 
  'border-radius': '0.3rem', 'background-image': 'linear-gradient(to right, var(--purple-50), var(--purple-50))' }">
    <div class="card flex justify-content-start">
        <img src="./assets/amcart-high-resolution-logo.ico"/>
    </div>
    <div class="card flex justify-content-center" style="display: inline-block;">
        <div class="card flex justify-content-center">
            <p-dropdown id="selectCategoryId" [options]="categories" [(ngModel)]="selectedCategory" optionLabel="displayName"
                [showClear]="false" placeholder="Select a Category" [required]="true"></p-dropdown>
            <p-autoComplete placeholder="Search Products in amcart.com" [(ngModel)]="selectedItem" [suggestions]="suggestions" 
                (onSelect)="suggestionSelected($event)" (completeMethod)="search($event)" dropdownIcon="pi pi-search" (keydown.enter)="onEnter($event)"></p-autoComplete>
        </div>
    </div>

    <div class="card flex justify-content-center" *ngIf="(auth.isAuthenticated$ | async) === false">
        <p-button label="Login" (onClick)="login()"></p-button>
    </div>

    <div class="card flex justify-content-center flex-wrap gap-3" *ngIf="auth.isAuthenticated$ | async">
        <p-splitButton label="Account" [model]="this.items" (onClick)="save('info')" styleClass="p-button-raised p-button-text mr-2 mb-2"></p-splitButton>
    </div>

    <div class="card flex justify-content-center" *ngIf="auth.isAuthenticated$ | async">
        <p-button label="Logout" (onClick)="logout($event)"></p-button>
    </div>
    
    <div class="card flex justify-content-center">
        <button pButton pRipple label="Cart" p-button-icon="pi pi-shopping-cart"></button>
    </div>

  </p-toolbar>
